.col-md-4{
    background-image: 
    url(
  "https://image.winudf.com/v2/image/Y29tLmRhbmtleXoubXVzaWNfc2NyZWVuXzE4X3U5czlrdjMz/screen-18.jpg?h=800&fakeurl=1&type=.jpg");
  background-size: "cover";
  height: "100vh",

};